/* Base Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0 2rem;
  background-color: #d8e5f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #0b5777;
}

/* Add link styles here */

/* Header */

/* Add header styles here */

nav ul {
  /* Additional ul styles here */

  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  width: 100%;
  z-index: 100;
  padding: 1rem;
}

nav ul.open {
  display: block;
  top: 5rem;
}

nav ul li {
  padding: 1rem;
}

.hamburger {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.hamburger:focus {
  outline: 2px solid #0f84b5;
}

.hamburger .bar {
  display: block;
  width: 22px;
  height: 3px;
  margin: 5px auto;
  background: #0f84b5;
  border-radius: 2px;
  transition: background 0.3s;
}

@media (min-width: 50em) {
  .hamburger {
    display: none;
  }

  nav ul,
  nav ul.open {
    display: block;
    position: static;
    background-color: transparent;
    padding: 0;
  }

  nav ul li {
    /* Additional styles go here */
  }
}

/* Main */

/* Article and Section styles go */

/* Footer */
body > footer {
  text-align: center;
}
